{% load static wagtailuserbar pipeline %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <!-- Google Tag Manager -->
        <script>
          dataLayer = [];
        </script>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PF8GGT7');</script>
        <!-- End Google Tag Manager -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-97311089-1', 'auto');

        </script>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}
                  {{ self.seo_title }} | {{self.get_site.site_name}}
                {% else %}
                  {{self.get_site.site_name}}
                {% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- twitter cards -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@goodthinkinguk" />
        <meta name="twitter:creator" content="@goodthinkinguk" />

        <!-- open graph data -->
        <meta property="og:url" content="https://good-thinking.uk{% if page.parent %}/{{page.parent}}{% endif %}/{{page.slug}}" />
        <meta property="og:title" content="{{page.title}}" />
        {% load wagtailcore_tags wagtailimages_tags %}
        {% image page.hero_image width-500 as img %}
        {% image page.brand_logo width-500 as logo %}
        {% if img %}
          <meta property="og:image" content="{{img.url}}" />
        {% elif logo %}
          <meta property="og:image" content="{{logo.url}}" />
        {% endif %}
        <meta property="og:description" content="{{page.search_description}}" />

        {# Global stylesheets #}
        {% block extra_css %}
          <link rel="stylesheet" href="https://npmcdn.com/tachyons-word-break@3.0.0/css/tachyons-word-break.min.css" />
          <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
          <!-- Taken from https://jonsuh.com/hamburgers/ -->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.9.1/hamburgers.min.css" rel="stylesheet">
          <link rel="icon" href="/static/favicon.png">
          <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i" rel="stylesheet">
        {% endblock %}
        {% stylesheet 'cms' %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
      <!-- Google Translate -->
      <div id="google_translate_element"></div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
        }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <!-- End Google Translate -->
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PF8GGT7"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        {% javascript 'scripts' %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <div id="cookie_accept_bar" class="lm-bg-light-grey tc pv3 dn bottom-0 fixed z-5 w-100 copy">
          <p>Before browsing our site, please accept our <a class="link lm-pink-hover lm-dark-turquoise" href="/cookie-policy">cookies policy</a></p>
          <button class="f5 dib ph3 pv2 br1 pointer montserrat tracked inner-shadow-active lm-white lm-bg-dark-turquoise lm-bg-white-hover lm-dark-turquoise-hover mv3 b--lm-dark-turquoise ba word-normal">Accept and close</button>
        </div>
    </body>
</html>
