{% load static wagtailuserbar pipeline %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
        dataLayer = [];
      </script>
      {% if GTM_TOKEN %}
        <!-- Google Tag Manager -->
          <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{GTM_TOKEN}}');</script>
          <!-- End Google Tag Manager -->
      {% endif %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}
                  {{ self.seo_title }} | {{self.get_site.site_name}}
                {% else %}
                  {% if page_title %}
                    {{page_title}}
                  {% else %}
                    {{self.get_site.site_name}}
                  {% endif %}
                {% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="{{self.search_description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- twitter cards -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@goodthinkinguk" />
        <meta name="twitter:creator" content="@goodthinkinguk" />

        <!-- open graph data -->
        <meta property="og:url" content="https://www.good-thinking.uk{% if page.parent %}/{{page.parent}}{% endif %}/{% if page.slug and page.slug != 'home' %}{{page.slug}}/{% endif %}{% if slug %}{{ slug }}{% endif %}" />
        <meta property="og:title" content="{{page.title}}" />
        {% load wagtailcore_tags wagtailimages_tags %}
        {% image page.hero_image width-500 as img %}
        {% image page.brand_logo width-500 as logo %}
        {% if img %}
          <meta property="og:image" content="{{img.url}}" />
        {% elif logo %}
          <meta property="og:image" content="{{logo.url}}" />
        {% endif %}
        <meta property="og:description" content="{{page.search_description}}" />

        {# Global stylesheets #}
        {% block extra_css %}
          <link rel="stylesheet" href="https://npmcdn.com/tachyons-word-break@3.0.0/css/tachyons-word-break.min.css" />
          <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
          <!-- Taken from https://jonsuh.com/hamburgers/ -->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.9.1/hamburgers.min.css" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
          <link rel="shortcut icon" href="/staticfiles/images/favicon.ico">
          <link rel="icon" type="image/png" sizes="196x196" href="/staticfiles/images/android-chrome-192x192.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/staticfiles/images/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/staticfiles/images/favicon-16x16.png">
          <link rel="apple-touch-icon" href="/staticfiles/images/apple-touch-icon.png">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600,700,800,900">
        {% endblock %}
        {% stylesheet 'cms' %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
        }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <!-- End Google Translate -->
      {% if GTM_TOKEN %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{GTM_TOKEN}}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
      {% endif %}
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        {% javascript 'scripts' %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

      <div id="cookie_accept_bar" class="gt-cookies rich-text lm-bg-light-grey tc pv3 dn bottom-0 fixed z-5 w-100 copy">
       <p>Before browsing our site, please accept our&nbsp;<a href="/cookie-policy/"><strong>cookies policy</strong></a><br></p>
       <button class="f5 link dib ph3 pv2 br1 pointer montserrat tracked inner-shadow-active lm-white lm-bg-dark-turquoise lm-bg-white-hover lm-dark-turquoise-hover mv3 b--lm-dark-turquoise ba word-normal btn btn-default gt-cookie-cta" type="button">Accept and Close</button>
     </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
