commands:
  01_ssl_certificate:
      command: sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout mysitename.key -out /etc/pki/tls/certs/server.crt -keyout /etc/pki/tls/certs/server.key -subj "/CN=$HOSTNAME/O=Good Thinking/C=GB/ST=London/OU=Good Thinking/emailAddress=info@good-thinking.uk/L=London" && sudo chmod 0400 /etc/pki/tls/certs/server.crt && sudo chmod 0400 /etc/pki/tls/certs/server.key

files:
  /etc/nginx/conf.d/http-redirect-custom.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        return 301 https://$host$request_uri;
      }

  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
