files:
  /etc/nginx/conf.d/http-redirect-custom.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        return 301 https://$host$request_uri;
      }

  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDIDCCAgigAwIBAgIJAJS3/Hspvn8qMA0GCSqGSIb3DQEBCwUAMCUxFjAUBgNV
      BAoMDUdvb2QgVGhpbmtpbmcxCzAJBgNVBAYTAkdCMB4XDTE5MDEyNTE0MTQyN1oX
      DTIwMDEyNTE0MTQyN1owJTEWMBQGA1UECgwNR29vZCBUaGlua2luZzELMAkGA1UE
      BhMCR0IwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0YM+KkPl9bDGG
      +eU+w//herT7myiCuGwfZq9fg9KF+FgVD6FHYhZYawPCuhVEnWiFXwWDhZN9UHEI
      MCkcDtXvbZLt8ikRmTAYqw35JKcDGymbJ4NiHGyxIiUmYNVHq/wO1J9KF7l67QdH
      adPoZUBX2wFhV3RyT4O+o2LKqbyZWdAR7Mh3H24b9MTqX4BTwc7nqQib/JOnnINb
      IJha3G8ZZQX6ri2A6IL2tgnvqofl7ZEPPtRFKilShYdjkoc5gCdvcm9DYBKA4M9F
      09QgHwo4M4qVgKW2xlfephFS2VN/WbkZEe+pIS7zIG7AWrtVTQYqNLFNRHLpfNXf
      NRMxr+2DAgMBAAGjUzBRMB0GA1UdDgQWBBQ1vORGvJGw0UlMHFCCvbagH+BsvDAf
      BgNVHSMEGDAWgBQ1vORGvJGw0UlMHFCCvbagH+BsvDAPBgNVHRMBAf8EBTADAQH/
      MA0GCSqGSIb3DQEBCwUAA4IBAQAaY/Gs7VPXJWSFX4w5o98Opli9zLmq1vTPO8w7
      FwkrjC1r0yW0Y6IDOORDrSoS4ovkJU105aFgtvLk/qDMVgCjRuEz+TG1rSyE/+Xr
      +cVnC5bg6vcQNDj3WuTYfA2NNqum+AJjfTfgKKs8YmUo0PVdl9GzYvkwO5WVrPcr
      P7D8xzZfUYRhBLBJ0k+J6lhGf1TgRt3uKEuAndmZVWJqs/ypwJkTZsmoXkib/Jq7
      0mEWksIDPmtlP3Fq1indsbZ5lES5gOWsctekHOhThUOIQSik+qbWhuuvGneJYvfA
      P88PHOmBVGQAJ/XQ6WWCjobokYJ6oJl4OkkILKcFciSieaCy
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC0YM+KkPl9bDGG
      +eU+w//herT7myiCuGwfZq9fg9KF+FgVD6FHYhZYawPCuhVEnWiFXwWDhZN9UHEI
      MCkcDtXvbZLt8ikRmTAYqw35JKcDGymbJ4NiHGyxIiUmYNVHq/wO1J9KF7l67QdH
      adPoZUBX2wFhV3RyT4O+o2LKqbyZWdAR7Mh3H24b9MTqX4BTwc7nqQib/JOnnINb
      IJha3G8ZZQX6ri2A6IL2tgnvqofl7ZEPPtRFKilShYdjkoc5gCdvcm9DYBKA4M9F
      09QgHwo4M4qVgKW2xlfephFS2VN/WbkZEe+pIS7zIG7AWrtVTQYqNLFNRHLpfNXf
      NRMxr+2DAgMBAAECggEAI3PXtuNxtf4a6e2Z6jE5zMaCZeWEG9VFoxJaq8pMCXrb
      TSBqUY5s1+oIrjBG19qcXYJkogoSCBJUdQiKO/KKh+mgdFYhTk0uj9qm/239yXWA
      QveMMi9mCZateJKVuOWLwBp4SGbLVObbhGS/erDT6bCo38oBoCoSudiBJVYhNH6H
      Bd5/R5bqfxhFNNZgUDHNlDD14+Zdkbj0uNGzR2vHuUpuwuN2RGyiKuUg0DbJ369l
      eH/XhhjFrACGxap6n4smDVp0kFB6+wy0ja7heJ/gueizy7nPLGlmwwAtEHor39an
      D1JxrCMyEjZ722SVExF9H6b+tqqWiYbnc8I3kRkV0QKBgQDfn0SP4gaj+bjrYmTr
      TQJyCpBMzBkJ9Ewrs9kv/dVwD1k4H6VVLTs0veVTpFCwI0eMBYk1vMc+npgCfQXh
      LAfN5nV5Cg7rHMHoO7z5S/Nsyd/esUFMmlosVsZY5F+OYKlF3iSvdRWLXCcHHRDA
      zFFJPj33c9viQ9xn3F3MgjBzyQKBgQDOfquyMO1DZ/UNPeVfkr1CtZNvf27OpHUU
      vcm9rln8+I29ptci797cMWV05rxRYZjmS2hO27F799WJEgJl0ZLeuOUTGxFKxs1y
      Jr1COXFJfIdFVQB3z/R2zm29i84rO8ZQVN9b209EUw2OUMhFJmBHJOvEm6Ii+ope
      p680BHKE6wKBgQC16JmdcgB042/KCwCNaNfUbUN1NZIoxtIvut2ybIpz3gh130hf
      Qawn+1HR+JiqsAhDnz0+uZJbHigJ3ioqQecXV6G4FLaOC5axk+bl5SLgHFhAj3DP
      H8C60NwI873H1FnevBabpGMiOpSE9N/r9kkpi7hc06LLLOjelCS5eC5yAQKBgQCh
      8G0uPXiU2D4xuEzd+vI6ErQhSMrZe9fmAEDqZIVmAncGOIWXfI5GGOb8Gses+uEy
      GgkfbuNt2Rq5eEoxF34a9N2RcjTJc8dCsmbSPMI/Y02ibdsEGy4YziL5914kQahw
      716LZx5u8sM6zNeCg2oV4TqU4Yjx7ZH+UXrxTFuTKQKBgH02zFsDormOERHQfhpQ
      FAo6/tuU0qYKUgw8fwGPfXiXI8902M48qVbDfb21kh8794WD31OMeerdD7FZPaVD
      Wg32cY2tvy7/VTIW4peoaJWy/4w4Pg31F3WICnz+n4zxC+5nGn2ISlA0PL3A6mUP
      CJoBSsKMHgZXMb4ErGlywNji
      -----END PRIVATE KEY-----
