body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5pt;
  color: #04091a;
  min-height: 100%;
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

h1, .resource-brand .rich-text h2, .static-page .rich-text h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5pt;
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5pt;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5pt;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5pt;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5pt;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5pt;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

button, button a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.resource-brand .rich-text p {
  font-size: 1rem;
}

.copy p, .copy li {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5pt;
  font-weight: 300;
}

.banner p a {
  color: #008099;
}

.banner p a:hover {
  color: #de2183;
  text-decoration: underline;
}

.copy a {
  color: #008099;
  font-size: 14px;
  text-decoration: none;
}

.copy a:hover {
  color: #de2183;
  text-decoration: underline;
}

.copy button a, .copy button a:hover {
  color: inherit;
  font-size: 1rem;
  word-break: normal;
}

#cookie_accept_bar a {
  word-break: normal;
}

#landing_page_navbar {
  line-height: 20px;
}

.assessment-text * {
  line-height: 24px;
}

.copy b {
  font-weight: 600;
}

.montserrat {
  font-family: "Montserrat";
  letter-spacing: 0.5pt;
}

.banner p, .banner a {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.browse-arrow {
  font-size: 2.5rem;
}

.feedback-section p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

@media screen and (max-width:30em) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}
