.panel.panel-default.gt-topic {
  font-size:14px;
  padding:0px !important;
  margin-bottom:10px;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
  border-bottom:1px solid #f2f2f2;
}

.gt-topic-header {
  font-family:Montserrat, sans-serif;
  font-size:14px;
  font-weight:700;
  /*margin-top:4px;*/
  padding-top:0px;
  color:#252e4e;
  text-align:center;
  margin-top:15px;
}

.panel-footer.gt-title-footer {
  padding-right:20px;
  padding-left:20px;
  background-color:#ffffff;
  border-top:none;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.panel-body.gt-para-topics {
  min-height:150px;
  max-height:150px;
  padding:20px !important;
  overflow-y:auto;
}

.green {
  background-color:#347e96 !important;
}

.pink {
  background-color:#ce3981 !important;
}

.gt-blue {
  background-color:#252e4e !important;
}

.swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  list-style:none;
  padding:0;
  z-index:1;
}

.swiper-wrapper {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-transition-property:-webkit-transform;
  transition-property:-webkit-transform;
  -o-transition-property:transform;
  transition-property:transform;
  transition-property:transform, -webkit-transform;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  margin:30px 0px;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform:translate3d(0px, 0, 0);
  transform:translate3d(0px, 0, 0);
}

.swiper-slide {
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0;
  width:100%;
  height:100%;
  position:relative;
  -webkit-transition-property:-webkit-transform;
  transition-property:-webkit-transform;
  -o-transition-property:transform;
  transition-property:transform;
  transition-property:transform, -webkit-transform;
}

.swiper-pagination {
  position:absolute;
  text-align:center;
  -webkit-transition:300ms opacity;
  -o-transition:300ms opacity;
  transition:300ms opacity;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  z-index:10;
}

