.gt-slider-content {
  position:absolute;
  bottom:0;
  width:100%;
  margin-bottom:0px;
  height:auto;
  background-color:#ffffff;
  opacity:0.9;
  text-align:center;
  font-size:18px;
  position:0px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

