.bg-section-txt em {
  line-height:3.5;
}

.gt-slider-content {
  position:absolute;
  bottom:0;
  width:100%;
  margin-bottom:0px;
  height:auto;
  opacity:0.9;
  text-align:center;
  font-size:18px;
  padding:10px;
}

@media (max-width: 767px) {
  .gt-slider-content {
    position:absolute;
    bottom:0;
    width:100%;
    margin-bottom:0px;
    height:auto;
    opacity:0.9;
    text-align:center;
    font-size:18px;
    padding:11px;
  }
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

em {
  font-weight:200;
  font-style:italic;
}

.bg-section-txt {
  font-family:NunitoSans;
  font-size:14px;
  line-height:1.5;
  letter-spacing:0.8px;
  text-align:center;
}

@media (max-width: 991px) {
  .bg-section-txt p {
    font-size:14px;
    font-family:'Nunito Sans', sans-serif;
    line-height:1.5;
    letter-spacing:0.8px;
    text-align:center;
  }
}

@media (max-width: 767px) {
  .bg-section-txt em {
    font-weight:200;
    line-height:1.29;
    font-style:italic;
  }
}

.partner-slider {
  height:auto;
  background-color:#fff;
  padding:0px 10px 10px 10px;
}

