gt-topic-header-stress {
  /*float:left;*/
  font-size:21px;
}

.panel-title.gt-highlights-panel-title {
  text-align:left;
  font-size:21px;
  font-weight:600;
  color:#fff;
  letter-spacing:0px;
}

.panel-body.gt-highlights-stress-boby {
  background-color:#242e51;
  color:#fff;
  text-align:left;
}

.gt-stress-para {
  font-size:21px;
  padding-left:20px;
  margin:0px;
  /*float:left;*/
}

.gt-stress-list {
  padding:5px;
}

@media (max-width: 767px) {
  .gt-stress-list {
    padding:5px;
    font-size:14px;
  }
}

.panel-footer.gt-highlight-footer-stress {
  background-color:transparent;
  border-top:none;
  /*margin-top:30px;*/
  /*margin-bottom:50px;*/
}

.gt-highlights-stress-img {
  float:right;
  margin-top:-20px;
}

@media (max-width: 767px) {
  .gt-highlights-stress-img {
    float:none;
    display:block;
    margin-top:0px;
    -moz-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    transform:scaleX(-1);
    filter:FlipH;
    -ms-filter:"FlipH";
    margin-left:-30px;
  }
}

.gt-highlights-stress-list {
  margin-top:20px;
  margin-bottom:20px;
  padding-left:30px;
}

.gt-highlights-stress-para {
  text-align:left;
  color:#fff;
  padding-left:20px;
}

.panel-footer.gt-highlight-stress-footer {
  background-color:transparent !important;
  border-top:none !important;
  padding-bottom:30px;
  text-align:left;
  padding-left:0px;
}

@media (max-width: 1199px) {
  .row.gt-highlights-stress-row {
    width:80% !important;
    margin:0 auto !important;
  }
}

@media (max-width: 1199px) {
  .col-lg-6.gt-stress-col-2 {
    margin-top:30px;
  }
}

@media (max-width: 1199px) {
  .gt-highlights-stress-row {
    width:80% !important;
    margin:0 auto !important;
  }
}

@media (max-width: 991px) {
  .gt-highlights-stress-row {
    display:none !important;
  }
}

@media (max-width: 1199px) {
  .gt-highlights-stress-row {
    display:block;
  }
}

.gt-highlights-stress-row {
  display:block;
  padding-top:10px;
}

.MultiCarousel .MultiCarousel-inner .item-stress {
  float:left;
  width:90% !important;
}

@media (max-width: 767px) {
  .panel.panel-default.gt-highlights {
    height:auto;
  }
}

@media (max-width: 767px) {
  .col-md-12.gt-consideration {
    display:block;
  }
}

@media (max-width: 991px) {
  .col-md-12.gt-consideration {
    display:none;
  }
}

@media (max-width: 767px) {
  .col-md-6.col-sm-6.text-left.gt-highlights-hide {
    display:none;
  }
}

@media (max-width: 767px) {
  .col-md-12.gt-consideration {
    display:block;
  }
}

.gt-consideration-text {
  font-size:14px;
  text-align:left;
  font-weight:bold;
  color:#16b28f;
}

gt-navy-blue {
  /*background-color:#013365 !important;*/
}

.nav.nav-tabs.hidden-xs.hidden-md.hidden-lg.gt-nav-right.nav-underline {
  border-bottom:none !important;
}

.swiper-slide {
  background-color:transparent !important;
  margin-bottom:30px;
}

.row.bt-topics-slider {
  width:100% !important;
  margin:0 auto;
  height:auto;
}

.gt-topic-para {
  font-size:18px;
  letter-spacing:1.5px;
}

