{% load wagtailcore_tags new_tab %}

<div id="assessment{{page.id}}" class="assessment assessment-card">
  <div class="br1 w-60-ns tl center ba b--lm-orange lm-bg-orange-20 mt4">
    <div class="ph3 pt2 pt3-ns ph4-ns">
      <h3>{{page.heading}}</h3>
      <div class="copy">
        {{page.body|new_tab|richtext}}
      </div>
      <div class="w-100 tc bottom--1-2-l relative">
        <a href="/{{page.parent}}/{{page.slug}}">
          {% include "resources/primary-button.html" with  value="Take the assessment" %}
        </a>
      </div>
    </div>
  </div>
</div>
