{% load wagtailcore_tags new_tab %}
{% load static %}

<div class="lm-bg-white pa3 pv-1-4-sm w-100 f6 f5-l f5-m banner segoe fixed top-0 z-5 dt dt--fixed shadow-2" id="beta-banner">
  <div class="dtc w-33 w-10-ml w-8-l w-15-m tl v-mid">
    <a href="/"><img src="{% static "images/good_thinking_logo.svg" %}" /></a>
  </div>

  <div class="dtc w-80 w-70-sm w-30-mm w-40-l v-mid banner fr fn-sm pl3-sm">
    {{banner|new_tab|richtext}}
  </div>
  <div class="dtc-sm dn tr v-mid banner_buttons">
    <a href="/self-assessment/"
    {% if slug != "self-assessment" %}
      class="f6 f7-m link dib ph3 pv2 br1 pointer nunito tracked inner-shadow-active lm-bg-white lm-bg-dark-turquoise-hover lm-dark-turquoise lm-white-hover ba b--lm-dark-turquoise"
    {% else %}
      class="f5 link dib ph3 pv2 br1 pointer montserrat tracked inner-shadow-active lm-inactive lm-bg-white ba b--lm-inactive"
    {% endif %}
    id="assessment">Take self-assessment</a>
    <a href="/crisis/"
    {% if page.slug != "crisis" %}
      class="f6 f7-m link dib ph3 pv2 br1 pointer nunito tracked inner-shadow-active lm-bg-white lm-bg-dark-blue-hover lm-dark-blue lm-white-hover ba b--lm-dark-blue crisis-link"
    {% else %}
      class="f5 link dib ph3 pv2 br1 pointer montserrat tracked inner-shadow-active lm-inactive lm-bg-white ba b--lm-inactive"
    {% endif %}
    >Get urgent support</a>
  </div>
</div>
