{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static modelname new_tab %}

{% load static %}

{% block body_class %}gt-body{% endblock %}

{% block content %}
    {% if banner %}
      {% include "resources/banner.html" with banner=banner %}
    {% endif %}
    {% image page.collections_cover_image width-1000 as collections_cover_image %}

    <section class="home-slider">
        <div class="gt-header-img stress-results" style="background-image:url('{{ collections_cover_image.url }}')"></div>
        <div class="gt-slider-content">
            <div class="row gt-header-content">
                <div>
                    <h2 class="gt-header">{{page.image_text |richtext}}<br></h2>
                    <!-- <div class="gt-header-stress-result rich-text">
                        <a href="javascript:history.back();" class="gt-stress-back" >
                            <p class="gt-footer-result-para">Edit your selection<br></p>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section class="gt-home-topic-highlights gt-stress-result">

        <div class="row">
            <!-- <div class="col-lg-12 col-lg-offset-0 col-md-6 col-md-offset-3 gt-highlights-panel">
                <h1 class="gt-section-header">Top {% if collection_resources %} {{collection_resources|length}} {% endif %} picks for you<br></h1>
            </div> -->
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p class="gt-para">{{page.body_title}}<br>{{page.body_tagline}}<br></p>
                <p class="hidden-md hidden-lg swipe-text">Swipe left and right to find topics<br></p>
            </div>
        </div>

        <div class="gt-highlights-stress-row">
            <div class="row">
              {% if collection_resources %}
              {% for collections in collection_resources %}
                {% for resource in collections.selectresources.all %}
                  {% include "resources/short_resource.html" with page=resource.collection_resource.specific selected_tags=selected_tags diff_class='gt-stress-col-2' num=forloop.counter%}
                {% endfor %}
                {%  if not collections.selectresources|length|divisibleby:2  %}
                <div class="col-lg-6 gt-stress-col-2">
                  <div class="panel panel-default gt-highlights-stress gt-hide-panel">
                    <div class="panel-heading gt-highlights-stress">
                      <h3 class="panel-title gt-highlights-panel-title">Assess your stress<br></h3>
                    </div>
                    <div class="panel-body gt-highlights-stress-boby"><img src="{% static "images/Stress---results---small-desktop_03.png" %}" class="gt-highlights-stress-img">
                      <p class="gt-stress-para gt-highlights-para">Take our wellbeing self assessment to find out more about you.<br></p>
                      <ul class="gt-highlights-stress-list">
                        <li class="gt-stress-list">Get your wellbeing score</li>
                        <li class="gt-stress-list">Find out where you can improve (stress, anxiety and depression)</li>
                        <li class="gt-stress-list">Get resources to help you improv</li>
                      </ul>
                      <div>
                        <p class="gt-highlights-stress-para gt-highlights-para">If sleep is affecting your wellbeing, the assessment will guide you to our tailor-made sleep assessment.<br></p>
                      </div>
                    </div>
                    <div class="panel-footer gt-highlight-stress-footer"><button class="btn btn-default gt-highlights-btn gt-border" type="button">Take the assessment<br></button></div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
              {% endif %}
            </div>
        </div>

        <section class="gt-home-topic gt-slider-hide">
            <div class="row bt-topics-slider">
                <div class="gt-stress-result-swiper">
                    <div class="swiper-wrapper">
                      {% if collection_resources %}
                        {% for post in collection_resources %}
                            {% include "resources/short_resource_mobile.html" with page=post.specific selected_tags=selected_tags diff_class='gt-stress-col-2' num=forloop.counter%}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="gt-swiper-pagination-stress-result"></div>
                </div>
            </div>
        </section>
    </section>

    <section class="hidden-lg gt-asess-hide">
        <div class="panel panel-default gt-highlights-stress">
            <div class="panel-heading gt-highlights-stress">
                <h3 class="panel-title gt-highlights-panel-title">Assess your stress<br></h3>
            </div>
            <div class="panel-body gt-highlights-stress-boby">
                <p class="gt-stress-para gt-highlights-para">Take our wellbeing self assessment to find out more about you.<br></p>
                <img src="{% static "images/Stress---results---small-desktop_03.png" %}" class="gt-highlights-stress-img">
                <ul class="gt-highlights-stress-list">
                    <li class="gt-stress-list">Get your wellbeing score</li>
                    <li class="gt-stress-list">Find out where you can improve (stress, anxiety and depression)</li>
                    <li class="gt-stress-list">Get resources to help you improv</li>
                </ul>
                <div>
                    <p class="gt-highlights-stress-para gt-highlights-para">If sleep is affecting your wellbeing, the assessment will guide you to our tailor-made sleep assessment.<br></p>
                </div>
            </div>
            <div class="panel-footer gt-highlight-stress-footer"><a href="/self-assesment/"><button class="btn btn-default gt-highlights-btn gt-border" type="button">Take the assessment<br></button></a></div>
        </div>
    </section>

    {% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links=footer_links %}
    {% endblock %}
