{% load multiline %}

<div class="br1 shadow-2 tl w-60-l center pa3 mb3 filter-block">
  <div class="card-text">
    <h3 class="ma0">Q{{num}} of 3</h3>
    <div id="{{name}}_label">
      {% for l in filter_label|multiline %}
        <p class="mv3">{{l}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="tag-container">
    {% for tag in tags %}
    <div class="dib">
      <input name="{{name}}" {% if tag.name in selected_tags %}checked{% endif %} value="{{tag}}" id="{{tag}}" type="checkbox" class="checked-fill absolute o-0"></checkbox>
      <label for="{{tag}}" class="b--lm-orange lm-bg-orange-hover lm-bg-light-orange ba br2 ph2 pv1 lh-tag dib mb1 pointer font nunito">{{tag}}</label>
    </div>
    {% endfor %}
  </div>
</div>
