{% load multiline %} {% load static %}

<!-- Question type filter block -->
<div class="swiper-slide top-slide">
  <div class="panel panel-default gt-quest-header">
    <div class="panel-heading gt-panel-title" style="background-color: {{page.link_color}}">
      {% if num != 1%}
      <div class="gt-arrow-block gt-arrow-lt"><img src='{% static "images/gt-stress-arrow-left.png" %}'></div>
      {% endif %}

      {% if num != 3%}
      <div class="gt-arrow-block gt-arrow-rt"><img src='{% static "images/Stress---Q1---desktop_03.png" %}'></div>
      {% endif %}

      <span class="gt-topic-header gt-q1">Q{{num}} OF 3<br></span>
    </div>

    <div class="panel-body quest-panel-body">
      {% for l in filter_label|multiline %}
      <p>{{l}}</p>
      {% endfor %}
      <div class="panel-footer quest-footer checkboxes">
        {% for tag in tags %}
        <input name="{{num}}" class="hidden q1Checkbox" type="checkbox" value="{{tag}}" id="{{tag}}"><label class="swiper-no-swiping" for="{{tag}}">{{tag}}</label>
         {% endfor %}
      </div>
        {% if num != 3%}
      <div class="panel-footer gt-title-footer gt-btn-hide"><button class="btn btn-default gt-topic-btn q1-btn" type="button" onclick="GetQueryResults('{{page.slug}}');">Get your results</button>
      </div>
          {% endif %}
    </div>

    {% if num == 3%}
    <div class="panel-footer gt-title-footer gt-btn gt--stress-q-footer">
      <button class="btn btn-default gt-topic-btn q1-btn" type="button" onclick="GetQueryResults('{{page.slug}}');">Get your results</button>
    </div>
    {% else %}
    <div class="panel-footer gt-title-footer gt-btn gt--stress-q-footer"></div>
    {% endif %}
  </div>
</div>
