{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static modelname new_tab %}

{% load static %}

{% block body_class %}gt-body{% endblock %}

{% block content %}
    {% if banner %}
      {% include "resources/banner.html" with banner=banner %}
    {% endif %}
{% include "resources/components/hero-image.html" with page=page %}
  <div id="elm-personalise" data-slug="{{page.slug}}">
  <!-- Question type - filter block slider -->
  <section class="gt-stress-q1-body">
      <section class="gt-home-topic stress-q-topic">
          <div class="row">
              <div class="col-md-12">
                  <div class="gt-body-title-text rich-text">
                      {{page.sub_body |richtext}}
                  </div>
              </div>
          </div>
          <div class="row bt-topics-slider">
              <div class="gt-swiper-stress-q">
                  <div class="swiper-wrapper">
                    {% include "resources/filter-blocks.html" with filter_label=page.filter_label_1 tags=issue_tags num=1 name="q1" page=page %}
                    {% include "resources/filter-blocks.html" with filter_label=page.filter_label_2 tags=reason_tags num=2 name="q2" page=page %}
                    {% include "resources/filter-blocks.html" with filter_label=page.filter_label_3 tags=content_tags num=3 name="q3" page=page %}
                  </div>
                  <div class="swiper-pagination swiper-pagination1"></div>
              </div>
          </div>
      </section>

      <!-- collections block in desktop view -->
      <section class="hidden-xs hidden-sm gt-section-browse">
          <div class="row">
              <div class="gt-highlights-panel">
                  <h3 class="gt-section-header">{{page.collections_title}}</h3>
                  <p class="gt-para">{{page.collections_tagline}}</p>
              </div>
          </div>
          <div class="gt-browse-container">
              <div class="gt-section-browse-block">
                  <div class="row">
                    {% for collection in top_collections %}
                      <div class="col-md-6">
                          <div class="panel panel-default gt-browse-panel">
                              <div class="panel-heading bg-panel-section-header">
                                  <h3 class="panel-title">{{collection.collection_heading}}</h3>
                              </div>
                              <div class="panel-body gt-browse-panel-body">
                                  <p>{{collection.description | richtext}}</p>
                              </div>
                              <div class="panel-footer gt-title-footer">
                                <a href="/collections/{{collection.slug}}"><button class="btn btn-default gt-topic-btn browse-btn" role="button"><strong>{{collection.button_text}}</strong></button></a>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </section>

      <!-- collections block in mobile view -->
      <section class="hidden-md hidden-lg">
          <div class="row">
              <div class="gt-highlights-panel">
                  <h3 class="gt-section-header">{{page.collections_title}}</h3>
                  <p class="gt-para">{{page.collections_tagline}}</p>
              </div>
          </div>
          <div class="row bt-topics-slider">
              <div class="gt-swiper-stress-browser">
                  <div class="swiper-wrapper">
                    {% for collection in top_collections %}
                      <div class="swiper-slide bottom-slide">
                          <div class="panel panel-default gt-browse-panel">
                              <div class="panel-heading bg-panel-section-header">
                                  <h3 class="panel-title"><strong>{{collection.collection_heading}}</strong><br></h3>
                              </div>
                              <div class="panel-body gt-browse-panel-body">
                                  <p>{{collection.description | richtext}}</p>
                              </div>
                              <div class="panel-footer gt-title-footer">
                                <a href="/collections/{{collection.slug}}"><button class="btn btn-default gt-topic-btn browse-btn" role="button"><strong>{{collection.button_text}}</strong></button></a>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                  <div class="gt-swiper-pagination-stress-browser"></div>
              </div>
          </div>
      </section>
  </section>

  <section class="gt-section-pdf">
      <div class="gt-pdf-container">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <div class="gt-pdf-img"><img src="{% static "images/pdf-download.svg" %}" class="gt-pdf-icon"></div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="gt-pdf-right">
                      <h4>{{ page.pdf_heading | richtext }}</h4>
                      <p>{{ page.pdf_body | richtext}}</p>
                      <div>
                        <a href="{{ page.pdf_file.url }}"><button class="btn btn-default gt-pdf-cta" type="button">download</button></a>
                        <a href="{{ page.pdf_file.file.url }}" target="_blank"><button class="btn btn-default gt-pdf-cta" type="button">read online</button></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="gt-pdf-link-container"><a href="{{ page.bottom_link.specific.slug }}">{{ page.bottom_link_text | richtext}}</a></div>
      </div>
  </section>
</div>
{% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links=footer_links %}
{% endblock %}
