{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static spacing %}

{% block body_class %}gt-body{% endblock %}

{% block content %}

{% if page.banner %}
  {% include "resources/banner.html" with banner=banner %}
{% endif %}

{% include "resources/components/hero-image.html" with page=page url=page.url hero_image=hero_image landing_pages=landing_pages %}

<div class="tc">
  {% include "resources/components/row.html" with render_template="resources/components/page-block.html" element_list=project_info_block length=2 width="w-40" class="mb2 pa3" %}
</div>

<!--homepage slider block  -->
<section class="gt-home-topic">
  <div class="row">
    <div class="col-md-12">
      <h1 class="gt-section-header">Browse our topics</h1>
    </div>
  </div>
  <!-- <p class="hidden-md hidden-lg">Swipe left and right to find topics<br></p> -->
  <div class="row bt-topics-slider">
    <div class="gt-browser-topic-swiper">
      <div class="swiper-wrapper">
        {% for list in landing_pages %} {% include "resources/components/topic-card.html" with width=width page=list slug=page.slug%} {% endfor %}
      </div>
    </div>
  </div>
</section>

<!--homepage highlights block  -->
<section class="gt-home-topic-highlights-2">
    <div class="row">
        <div class="col-md-12 gt-highlights-panel">
            <h1 class="gt-section-header">Highlights of the month</h1>
        </div>
    </div>
    <div class="gt-highlights-home-row">
        <div class="row gt-highlights-home-container">
          {% for post in highlights %}
            {% include "resources/short_resource.html" with page=post.highlights_link.specific diff_class='gt-stress-col-1' num=forloop.counter%}
          {% endfor %}
        </div>
    </div>
</section>

{% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links=footer_links %}
{% endblock %}
