{% load wagtailcore_tags wagtailimages_tags new_tab %}

{% load static %}

{% if banner %}
  {% include "resources/banner.html" with banner=banner %}
{% endif %}

{% image page.hero_image width-1000 as hero_image %} {% image page.brand_logo width-500 as brand_logo %}


<section class="gt-header-result">
  <div class="gt-header-result-div">
    <a href="javascript:history.back();">
      <img src="{% static 'images/gt-back.svg' %}" class="gt-footer-result-img">
      <p class="gt-footer-result-para">Back to results</p>
    </a>
    </div>
</section>

<!-- hero image block -->
{% if hero_image or page.brand_text or page.background_color != '#ffffff' %}
<section class="partner-slider">
  <div class="gt-slider-content-partner" style="background-image:url('{{ hero_image.url }}');background-color: {{ page.background_color }};color: {{page.text_color}};">
     <div class="gt-partner-logo">
     {% if brand_logo %}
        <img src="{{ brand_logo.url }}" alt="{{page.title}}">
     {% else %}
        <h4>{{ page.title }}</h4>
     {% endif %}
   </div>
     <div class="bg-section-txt rich-text">
       {{ page.brand_text|new_tab|richtext }}
     </div>
    <div class="gt-partner-cta">
      {% for button in buttons %}
        {% if button.button_type == "Primary"%}
          <a href="{{button.button_link}}" target="_blank"> <button class="btn btn-default gt-highlights-btn gt-no-border" type="button">{{button.button_text}}</button></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section class="gt-home-topic-highlights partner-body">
  <div class="row">
    <div class="col-md-12 bg-section">
      <div class="panel panel-default gt-highlights-partner">

        <!-- title block -->
        <div class="panel-heading partner-panel-heading" style="background-color: {{ page.logo_background_color }};">
          {% if brand_logo %}
            <img src="{{ brand_logo.url }}" alt="{{page.title}}">
          {% else %}
            <h4>{{ page.title }}</h4>
          {% endif %}
        </div>

        <div class="panel-body gt-partner-body">

          <!-- streamfield block  -->
          <div class="row gt-partner rich-text">
            {% for block in page.body %}
                  {% if block.block_type == 'heading'%}
                    <div class="gt-partner-heading rich-text">
                        {% include_block block %}
                    </div>
                  {% elif block.block_type == 'paragraph'%}
                    <div class="gt-partner-heading rich-text">
                        {% include_block block %}
                    </div>
                  {% elif block.block_type == 'column_left' or 'rich_text' and not block.block_type == 'column_right'%}
                    <div class="col-md-6 gt-partner-text rich-text">
                      <div class="gt-lt">
                        <!-- tagline block  -->
                        <div class="gt-partner-tagline-rich-text">
                            {{ page.tagline|new_tab|richtext }}
                        </div>
                        {% include_block block %}
                      </div>
                    </div>
                  {% elif block.block_type == 'column_right' %}
                    <div class="col-md-6 gt-partner-text rich-text">
                      <div class="gt-rt">{% include_block block %}
                      </div>
                    </div>
                  {% else %}
                    <div class="col-md-12">
                      {% include_block block %}
                    </div>
                  {% endif %}
            {% endfor %}
          </div>

          <div class="gt-partner rich-text">
            <div class="gt-partner-text rich-text"></div>
          </div>

          <!-- Benefits and Considerations block -->
          <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
              <div class="gt-partner-div rich-text">
                {{page.pros|new_tab|richtext}}
              </div>
            </div>
            <div class="col-md-6 col-sm-6 text-left">
              <div class="gt-partner-div rich-text">
                {{page.cons|new_tab|richtext}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!--Unique footer block only for resource page-->
<footer>
  <div class="gt-footer-results">
    {% for button in buttons %}
     {% if button.button_type == "Primary" %}
      <a href="{{button.button_link}}" target="_blank"><button class="btn btn-default gt-highlights-btn gt-no-border" type="button">{{button.button_text}}</button></a>
     {% endif %}
    {% endfor %}
    <div class="gt-footer-result">
      <a href="javascript:history.back();" class="gt-back" >
        <p class="gt-footer-result-para">Back to results</p>
      </a>
    </div>
  </div>
</footer>

{% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links='' %}
