{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-resourceindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext}}</div>

    {% for post in resources %}
      {% with post=post.specific %}
        <h2>{{ post.title }}</h2>

        <p>{{ post.heading }}</p>
        <a href="{{ post.resource_url }}">{{ post.resource_url }}</a>
        {{ post.body|richtext }}
      {% endwith %}
    {% endfor %}

{% endblock %}
