{% load wagtailcore_tags wagtailimages_tags continuereading new_tab missing_tags %}

{% load static %}

{% image page.brand_logo height-60 as brand_logo %}

<div class="col-lg-6 {{diff_class}} resource-{{num}} get_resource_count" >
    <div class="panel panel-default gt-highlights gt-panel-height">
        <div class="panel-heading" style="background-color: {{page.logo_background_color}}">
          {% if diff_class != 'gt-stress-col-1' %}
            <div class="gt-number-block">
                <h4 class="gt-number" style="font-family:Montserrat, sans-serif;color:rgb(255,255,255);">#{{num}}</h4>
            </div>
            <div class="gt-arrow-block"></div>
            {%endif%}
            <div>
              {% if brand_logo %}
                <img src="{{brand_logo.url}}" alt="{{page.heading}}">
              {% else %}
                <h2>{{page.title}}</h2>
              {% endif %}
            </div>
        </div>
        <div class="panel-body gt-highlights-body" >
            <div class="gt-highlights-para rich-text">
                <h1 class="gt-topic-header">{{ page.heading }}</h1>
                <p>{{ page.tagline | richtext }}</p>
                <div class="gt-body-header"></div>
                <div class="row gt-panel-body-content rich-text">
                    <div class="col-md-6 col-sm-6 text-left">{{page.pros|new_tab|richtext}}</div>
                    <div class="col-md-6 col-sm-6 hidden-xs text-left gt-hide-block">{{page.cons|new_tab|richtext}}</div>
                    <div class="col-md-12 hidden-sm gt-collapse-col">
                        <div><a class="btn btn-default hidden-md hidden-lg collapse-btn collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-{{num}}" role="button" href="#collapse-{{num}}"><br></a>
                            <div class="collapse"
                                id="collapse-{{num}}">{{page.cons|new_tab|richtext}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer gt-highlight-footer"><a href="/{{page.parent}}/{{page.slug}}/"><button class="btn btn-default gt-highlights-btn" type="button">Tell me more</button></a>
          {% if diff_class != 'gt-stress-col-1' and not collection %}
            <div class="gt-highlights-btn-text-block">
                <a class="gt-highlights-close">
                    <div class="gt-close-cta"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
<path   d="M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M12.66,11.246
c0.391,0.391,0.391,1.023,0,1.414c-0.195,0.195-0.451,0.293-0.707,0.293s-0.512-0.098-0.707-0.293L9,10.414L6.754,12.66
c-0.195,0.195-0.451,0.293-0.707,0.293S5.535,12.855,5.34,12.66c-0.391-0.391-0.391-1.023,0-1.414L7.586,9L5.34,6.754
c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L9,7.586l2.246-2.246c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414
L10.414,9L12.66,11.246z"/>
</svg></div>
                    <h1 class="gt-highlights-btn-text" onclick="RemoveResource('{{num}}',{{page.id}});" >No thanks, I’ve tried this before<br></h1>
                </a>
            </div>
            {%endif%}
        </div>
    </div>
</div>
