{% load wagtailcore_tags %}

<div class="filter-sidebar">

  <div class="fixed sidebar top-0 bg-white bottom-0 w-80 w-70-ns w-50-m w-30-l pa3 overflow-y-scroll tl shadow-2 z-9999">
    <div class="tl lm-grey w-100 tr mb4">
      <label class="f5 link dib ph3 pv2 br1 pointer nunito tracked inner-shadow-active lm-white lm-bg-dark-blue button lm-bg-orange-hover lm-dark-blue-hover mt4" for="filter_filter">
        <i class="fa fa-times f4" aria-hidden="true"><span id="close-filter-label" class="o-0 absolute">close</span></i>
      </label>
    </div>

    <div class="ph1 sidebar-tag-blocks">
      <form action="/#results" method="get" id="filter-form">
        <div class="mb5 relative">
          <h4 class="w-70 mb1 mt2">{{page.filter_label_1}}</h4>
          <div class="select-issue-filters w-100 pv2 pl1 ph2-ns">
            <h5 class="lm-dark-grey nunito-italic ma0 f5"><span class="issue-filters-header">Select as many as are relevant</span> <span class="filter-arrow filter-arrow-hide fa-down nunito lm-orange fr">&#x25bc;</span><span class="filter-arrow filter-arrow-hide fa-up nunito lm-orange fr">&#x25b2;</span></h5>
          </div>
          <div class="mb4 issue-filters">
            <div class="ph1 lm-bg-orange-hover">
              <input type="checkbox" {%if request.GET.issue|length == 0 %}checked{% endif %} class="checked-fill absolute o-0 show-everything-issue" id="tags_issue_all-issue"/>
              <label for="tags_issue_all-issue" class="db pa2 pr0 pointer b--lm-grey bb f5">
                <div class="is-checked ba b--lm-dark-blue dib h05 w05 mr2"></div><span>Show me everything</span>
              </label>
            </div>
            {% for tag in issue_tags %}
              <div class="ph1 lm-bg-orange-hover">
                <input name="issue" {% if tag.name in selected_tags %}checked{% endif %} value="{{tag}}" type="checkbox" class="checked-fill absolute o-0 filters-issue" id="tags_issue_{{tag}}" />
                <label for="tags_issue_{{tag}}" class="db pa2 pr0 pointer b--lm-grey bb issue-tag f5">
                  <div class="is-checked ba b--lm-dark-blue dib h05 w05 mr2"></div><span>{{tag}}</span>
                </label>
              </div>
            {% endfor %}
            <div class="pa2 f5">
              <span>None of these (add your own)</span>
              <input type="text" class="fr mt1 w-100" "aria-label"="add issue" %>
              <div class="dib w-100">
                <div class="w-75-ns w-70 alert complete mb1 mt2 pa1 tc ba bw1-n bg--lm-green b--lm-green relative dib fl"></div>
                <div class="w-75-ns w-70 alert pending mb1 mt2 pa1 tc relative dib fl"></div>
                <button class="mt2 fr add-own">Add</button>
              </div>
            </div>
          </div>
        </div>
        <div class="mv5 relative">
          <h4 class="w-70 mt4 mb1">{{page.filter_label_2}}</h4>
          <div class="select-reason-filters w-100 pv2 pl1 ph2-ns">
            <h5 class="lm-dark-grey nunito-italic ma0 f5"><span class="reason-filters-header">Select as many as are relevant</span> <span class="filter-arrow filter-arrow-hide fa-down nunito lm-orange fr">&#x25bc;</span><span class="filter-arrow filter-arrow-hide fa-up nunito lm-orange fr">&#x25b2;</span></h5>
          </div>
          <div class="mb4 reason-filters">
            <div class="ph1 lm-bg-orange-hover">
              <input type="checkbox" {%if request.GET.reason|length == 0 %}checked{% endif %} class="checked-fill absolute o-0 show-everything-reason" id="tags_reason_all-reason" />
              <label for="tags_reason_all-reason" class="db pa2 pr0 pointer b--lm-grey bb f5">
                <div class="is-checked ba b--lm-dark-blue dib h05 w05 mr2"></div><span>Show me everything</span>
              </label>
            </div>
          {% for tag in reason_tags %}
          <div class="ph1 lm-bg-orange-hover">
            <input type="checkbox" {% if tag.name in selected_tags %}checked{% endif %} name="reason" value="{{tag}}" class="checked-fill absolute o-0 filters-reason" id="tags_reason_{{tag}}" />
            <label for="tags_reason_{{tag}}" class="db pa2 pr0 pointer b--lm-grey bb reason-tag f5">
              <div class="is-checked ba b--lm-dark-blue dib h05 w05 mr2"></div><span>{{tag}}</span>
            </label>
          </div>
          {% endfor %}
          <div class="pa2 f5">
            <span>None of these (add your own)</span>
            <input type="text" class="fr mt1 w-100" "aria-label"="add reason" %>
            <div class="dib w-100">
              <div class="w-75-ns w-70 alert complete mb1 mt2 pa1 tc ba bw1-n bg--lm-green b--lm-green relative dib fl"></div>
              <div class="w-75-ns w-70 alert pending mb1 mt2 pa1 tc relative dib fl"></div>
              <button class="mt2 fr add-own">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mv5 relative">
        <h4 class="w-70 mt4 mb1">{{page.filter_label_3}}</h4>
        <div class="select-content-filters w-100 pv2 pl1 ph2-ns">
          <h5 class="lm-dark-grey nunito-italic ma0 f5"><span class="content-filters-header">Select as many as are relevant</span> <span class="filter-arrow filter-arrow-hide fa-down nunito lm-orange fr">&#x25bc;</span><span class="filter-arrow filter-arrow-hide fa-up nunito lm-orange fr">&#x25b2;</span></h5>
        </div>
        <div class="mb4 content-filters">
          <div class="ph1 lm-bg-orange-hover">
            <input type="checkbox" {%if request.GET.content|length == 0 %}checked{% endif %} class="checked-fill absolute o-0 show-everything-content" id="tags_content_all-content"/>
            <label for="tags_content_all-content" class="db pa2 pr0 pointer b--lm-grey bb f5">
              <div class="is-checked ba b--lm-dark-blue dib h05 w05 mr2"></div><span>Show me everything</span>
            </label>
          </div>
          {% for tag in content_tags %}
            <div class="ph1 lm-bg-orange-hover">
              <input value="{{tag}}" {% if tag.name in selected_tags %}checked{% endif %} name="content" type="checkbox" class="checked-fill absolute o-0 filters-content" id="tags_content_{{tag}}" />
              <label for="tags_content_{{tag}}" class="db pa2 pr0 pointer b--lm-grey bb content-tag f5">
                <div class="is-checked ba b--lm-dark-blue dib h05 w05 mr2"></div><span>{{tag}}</span>
              </label>
            </div>
          {% endfor %}
          <div class="pa2 f5">
            <span>None of these (add your own)</span>
            <input type="text" class="fr mt1 w-100" "aria-label"="add content" %>
            <div class="dib w-100">
              <div class="w-75-ns w-70 alert complete mb1 mt2 pa1 tc ba bw1-n bg--lm-green b--lm-green relative dib fl"></div>
              <div class="w-75-ns w-70 alert pending mb1 mt2 pa1 tc relative dib fl"></div>
              <button class="mt2 fr add-own">Add</button>
            </div>
          </div>
          </div>
        </div>
        <div class="pv3 tr w-100 sidebar-buttons">
          <div class="tr dib w-40">
            {% include "resources/primary-button.html" with value="Search" %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="fixed top-0 bottom-0 w-100 sidebar-overlay dn bg-gray o-70 z-999"></div>
