<div id="visited_{{v.id}}">
  <div class="bg-white mb3 mt3 pa2 ph3 shadow-2">
    <div class="dt dt--fixed">
      <div class="w-80 tl dib dtc">
        <h4 class="mt0 mb1 f4">{{v.heading}}</h4>
      </div>
      <div class="tr dib dtc v-top">
        <button class="remove_visited bn bg-white pointer"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="dt dt--fixed">
      <div class="w-20-ns dib-ns dtc-ns v-mid">
        <form action="/like/" method="post" class="dib pointer like-form">
          <button type="submit" class="{% if v.liked_value == 1 %}liked{% endif %} like loop-like w2 h2 bn bg-white fl p0 bg-left pointer" data-url="{{v.resource_url}}"><span class="fixed o-0">Recommend</span></button>
          <input type="hidden" name="id" value="{{v.id}}"/>
          <input type="hidden" name="like" value="1"/>
          {% csrf_token %}
        </form>
        <form action="/like/" method="post" class="dib pointer dislike-form">
          <button name="dislike" type="submit" class="{% if v.liked_value == -1 %}disliked{% endif %} dislike loop-dislike w2 h2 bn bg-white p0 bg-right pointer" data-url="{{v.resource_url}}"><span class="fixed o-0">Don't Recommend</span></button>
          <input type="hidden" name="id" value="{{v.id}}"/>
          <input type="hidden" name="like" value="-1"/>
          {% csrf_token %}
        </form>
      </div>
      <div class="dib-ns dtc-ns">
        {% if like_feedback_submitted and not error %}
        <div class="alert ma0 mb1 mr1 mt2 pa2 ba bw1-ns bg--lm-green b--lm-green relative">
          Suggestions submitted successfully!
          <i class="bg--lm-dark-green lm-white absolute br-100 fa fa-check lm-flash-icon lm-tick-icon"></i>
        </div>
        {% else %}
        <form class="like-form dib v-mid w-100 loop-feedback">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{v.id}}" />
          <label for="id_{{v.id}}" class="dn"></label>
          <input type="text" id="id_{{v.id}}" placeholder="Why have you chosen this rating?" name="feedback" class="b--black br1 h2 w-70 pa2" />
          <input type="hidden" name="resource_title" value="{{v.title}}" />
          <input type="hidden" name="liked" value="{{v.liked_value}}" />
          <input type="hidden" name="resource_name" value="{{v.heading}}" />
          {% include "resources/primary-button.html" with value="Submit" class="mv3" %}

          {% if error %}
            <div class="bg--lm-light-red ba b--lm-dark-red bw1 br1 dib pa1">
              Please enter your feedback before submitting
            </div>
          {% endif %}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
