{% load wagtailcore_tags %}

<div id="tip{{page.id}}" class="tip tip-card">
  <div class="br1 tl center ba b--lm-turquoise lm-bg-light-turquoise mt4">
    <div class="ph3 pv2 pv3-ns ph4-ns copy">
      <div class="f3 tc">
        <i class="fa fa-quote-left lm-turquoise" aria-hidden="true"></i>
        <i class="fa fa-quote-right lm-turquoise" aria-hidden="true"></i>
      </div>
      <p>
        {{page.tip_text|richtext}}
      </p>
      <div class="bt b--lm-turquoise">
        <p>
          {{page.credit}}
        </p>
      </div>
    </div>
  </div>
</div>
