{% load wagtailcore_tags wagtailimages_tags %}

<footer>
<div class="push"></div>
<!-- footer sitemap block -->
{% if site_map %}
    <div class="gt-footer" id="gtFooter">
      {% for footer in site_map %}
        <div class="gt-link-footer"><a href="/{{footer.link_page.specific.slug}}/" class="gt-footer-link">{{footer.link_page.specific.title}}<br></a></div>
      {% endfor %}
    </div>
{% endif %}

<!-- footer brand logo block -->
{% if footer_links %}
    <div class="gt-brand-container">
      {% for footer in footer_links %}
        {% image footer.footer_image width-400 as footer_image %}
        <div class="gt-brand {% if forloop.counter == 5 %}xs{% endif %}"><a href="{{footer.footer_link}}"><img src="{{footer_image.url}}"></div></a>
      {% endfor %}
    </div>
{% endif %}
</footer>
