<!-- ensuring hamburger takes up the correct space -->
<section class="db dn-sm bg-white o-0">
  <button class="hamburger hamburger--slider relative" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner hamburger-navy"></span>
    </span>
  </button>
</section>

<section id="landing_page_hamburger" class="db dn-sm absolute bg-transparent w-100 z-4">
  <button id="hamburger_id" class="hamburger hamburger--slider relative" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner hamburger-navy"></span>
    </span>
  </button>
</section>

<div id="hamburger_content_id" class="db dn-sm absolute bg-white w-100 overflow-scroll z-999">

  <section class="db dn-sm absolute bg-white w-100 z-4">
    <button id="hamburger_close" class="hamburger hamburger--slider relative is-active" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </section>

  <div class="pa2 mt5">
    {% if back %}
      <div class="relative mv2-ns mv1 dtc-ns">
        <div class="b--lm-dark-blue lm-dark-blue ph3 pv2">
            <a class="ttu link" href="/{{back}}"><i class="fa fa-caret-left" aria-hidden="true"></i> Back to Results</a>
        </div>
      </div>
    {% endif %}
    <div class="relative mv2-ns mv1 dtc-sm">
      <div class="b--lm-dark-blue lm-dark-blue ph3 pv2">
        {% if slug == "home" %}
        <a class="ttu link bb bw2" href="/">Home</a>
        {% else %}
        <a class="ttu link" href="/">Home</a>
        {% endif %}
      </div>
      <div class="b--lm-dark-turquoise lm-dark-turquoise ph3 pv2">
        {% if slug == "self-assessment" %}
        <a class="ttu link bb bw2" href="/self-assessment">Take self-assessment</a>
        {% else %}
        <a class="ttu link" href="/self-assessment">Take self-assessment</a>
        {% endif %}
      </div>
      <div class="b--lm-dark-turquoise lm-dark-turquoise ph3 pv2">
        {% if slug == "crisis" %}
        <a class="ttu link bb bw2" href="/crisis">Get urgent support</a>
        {% else %}
        <a class="ttu link" href="/crisis">Get urgent support</a>
        {% endif %}
      </div>
    </div>
    <div class="dib relative mv2-ns mv1 dtc-sm">
      <div class="ph3 pv2">
        I am, or know someone who is, feeling:
      </div>
    </div>
    {% for topic in landing_pages %}
    <div class="relative mv2-ns mv1 dtc-sm">
      <div class="b--lm-dark-blue lm-dark-blue ph3 pv2">
        {% if url == topic.url %}
        <a class="ttu link bb bw2" href="/{{topic.slug}}/">{{topic.slug}}</a>
        {% else %}
        <a class="ttu link" href="/{{topic.slug}}/">{{topic.slug}}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
