{% load wagtailcore_tags wagtailimages_tags %}

<!-- Hero Image Block -->
{% image page.hero_image width-1000 as hero_image %}
<section class="pt10 ph4 ph5-m ph6-l tc lm-white cover lh-copy bg-center" style="background-image:url('{{ hero_image.url }}')">
  {% include "resources/logo.html" %}
  <div class="pb5 w-90-ns f1-ns f6 lh-title center">
    <div class="mb4">
      {{ page.header|richtext }}
      {% if not page.slug == 'home' %}
        <form action="/{{page.slug}}#results" method="get" id="search-form-1">
          <input name="q" type="text" value="{{request.GET.q}}" class="w-50-ns w-100 db center mt1 b--white ba pa1 pa2-ns nunito f5 br1 bg-white-90 focus-lm-orange" placeholder="Enter search term", "aria-label"="search">
          {% for key, value in request.GET.lists %}
            {% if not key == "q" %}
              {% for v in value %}
                <input type="hidden" name="{{key}}" value="{{v}}" />
              {% endfor %}
            {% endif %}
          {% endfor %}
          {% include "resources/primary-button.html" with value="Search" class="mv3"%}
        </form>
      {% endif %}
    </div>
    {% if page.video_url %}
      <div class="dib homepage_video_container v-mid ml5-l">
        {{ video_url }}
      </div>
    {% endif %}
  </div>
</section>
