{% load wagtailcore_tags wagtailimages_tags %}

<!-- Hero Image Block -->
{% image page.hero_image width-1000 as hero_image %}
<section class="{% if page.slug == 'home' %}pt4{% else %}pt6{% endif %} ph4 ph5-m ph6-l tc lm-white cover lh-copy bg-center" style="background-image:url('{{ hero_image.url }}')">
  <div class="pb5 w-90-ns f1-ns f6 lh-title center">
    <div class="mb4">
      {{ page.header|richtext }}
      {% if page.slug == 'home' %}
        <span class="f4 db segoe-bold">Browse some topics below</span>
        <a href="#topics"><i class="lm-orange fa fa-chevron-down" aria-hidden="true"></i></a>
      {% endif %}
    </div>
    {% if page.video_url %}
      <div class="dib homepage_video_container v-mid ml5-l">
        {{ video_url }}
      </div>
    {% endif %}
  </div>
</section>
