{% load wagtailcore_tags new_tab %}

<div class="dib-l v-top {{width}}-l shadow-2 br1 ph3-l pa3 mv2 h4-5-ns h4-5-ml relative">
  <h3 class="montserrat ma1 ma2-l{% if el.mobile_title %} dn dib-ns{% endif %}">
    {{el.title}}
  </h3>
  {% if el.mobile_title %}
    <h3 class="dib dn-ns">{{el.mobile_title}}</h3>
  {% endif %}
  <div class="tl ph3-l">
    <div class="copy">
      {{el.description|new_tab|richtext}}
    </div>
  </div>
  <a href="{{el.slug}}"><button class="absolute-l w-90-l w-100 bottom--1-6-ml bottom--1-2-l r-5-l f5 link dib ph3 pv2 br1 pointer nunito tracked inner-shadow-active lm-white lm-bg-dark-turquoise lm-bg-white-hover lm-dark-turquoise-hover ba b--lm-dark-turquoise">{{el.link_text}}</button></a>
</div>
