{% load wagtailcore_tags new_tab %}

  <!-- Home page slider block  -->
  <div class="swiper-slide">
      <div class="panel panel-default gt-topic">
          <div class="panel-heading gt-heading-panel {% if page.title != 'Anxious' %} gt-blue {% endif %}" style="background-color: {{page.link_color}};">
              <div class="row">
                  <div class="col-md-12">
                      <p class="gt-topic-heading-para">I am, or know someone who is feeling&nbsp;</p><span class="gt-topic-header">{{page.title}}<br></span>
                  </div>
              </div>
          </div>
          <div class="panel-body gt-para-topics rich-text">
            {{page.description|richtext}}
          </div>
          <div class="panel-footer gt-title-footer"><a href="/{{page.slug}}/"><button class="btn btn-default gt-topic-btn" type="button">{{page.link_text}}<br></button></a></div>
      </div>
  </div>
