{% load wagtailcore_tags new_tab %}

{% with table.Questions|first as first_question %}

  {% for q in table.Questions %}
    <h3>
      {{q.DisplayText|new_tab|richtext}}
    </h3>
    {% if q.Error %}
      <div class="bg--lm-light-red ba b--lm-dark-red bw1 br1 dib">
        {{q.Error}}
      </div>
    {% endif %}
    {% for a in q.Answers %}
        <div class="pv1 dt">
          <input class="dtc mr1" type="{{a.ControlType}}" id="{{a.ControlID}}" name="{{a.ControlName}}" value="{{a.ControlValue}}" {% if a.isChecked %}checked{% endif %} />
          <label class="dtc" for="{{a.ControlID}}">{{a.DisplayText}}</label>
        </div>
    {% endfor %}
  {% endfor %}
{% endwith %}
