{% load wagtailcore_tags %}

{% with table.Questions|first as first_question %}
  <table>
    <thead>
      <tr>
        <th></th>
        {% for a in first_question.Answers %}
          <th>
            {{a.DisplayText}}
          </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for q in table.Questions %}
        <tr {% if q.Error %}class="bg--lm-light-red" alt="please choose an aswer for this question"{% endif %}>
          <td {% if q.Error %}class="ba b--lm-dark-red bw1 br1"{% endif %}>
            {{q.DisplayText|richtext}}
          </td>
          {% for a in q.Answers %}
            <td class="tc {% if q.Error %}ba b--lm-dark-red bw1 br1{% endif %}">
              <input type="{{a.ControlType}}" id="{{a.ControlID}}" name="{{a.ControlName}}" value="{{a.ControlValue}}" {% if a.isChecked %}checked{% endif %} />
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endwith %}
