{% extends "base.html" %}

{% load wagtailcore_tags new_tab %}

{% block content %}
  {% if banner %}
    {% include "resources/banner.html" with banner=banner %}
  {% endif %}

  {% if landing_pages %}
    <section id="landing_page_navbar" class="dn dt--fixed dt-ns tc pv3 ph4 ph3-m ph3-l blurred_background_header cover bg-center w-100 {% if banner %}mt5{%endif%}">
      <div class="dib relative mv2-ns mv1 dtc-ns v-mid">
        I am, or know someone who is, feeling:
      </div>
      {% for topic in landing_pages %}
        <div class="dib mv2 mv1 dtc">
          <div class="b--lm-dark-blue lm-dark-blue ph3 pv2 dib pointer v-mid">
            <a class="ttu montserrat fw6 f6 link bb-hover lm-black bw2-hover lm-dark-turquoise-hover {% if page.url == topic.url %}bb bw2{% endif %}" href="/{{topic.slug}}">{{topic.title}}</a>
          </div>
        </div>
      {% endfor %}
    </section>

    {% include "resources/components/hamburger-menu.html" with page=page landing_pages=landing_pages %}
  {% endif %}

  <div class="mt6 mt5-ns mb5 assessment-text pa0-ns pa2">
    <div id="assessment-container" class="relative top--3 o-0"></div> <!-- anchor div to ensure screen goes below banner -->
    <div class="w-60-l center pb3">
      <h3>{{heading}}</h3>
      <div class="copy">
        {{body|new_tab|richtext}}
      </div>
    </div>
    <div class="br1 shadow-2 tl w-60-l center ph4 pv2">
      <form method="post" action="/assessment-summary/" class="pt2 pb4">
        {% csrf_token %}
        <input type="hidden" name="member_id" value="{{member_id}}" />
        <input type="hidden" name="traversal_id" value="{{traversal_id}}" />
        <input type="hidden" name="algo_id" value="{{AlgoID}}" />
        <input type="hidden" name="node_id" value="{{NodeID}}" />
        <input type="hidden" name="parent" value="{{parent}}" />
        <input type="hidden" name="slug" value="{{slug}}" />
        {% include "resources/secondary_button.html" with value="Summary"%}
      </form>

      {% if info %}
        {% with info.Table|first as info_text %}
        <div class="lm-bg-dark-turquoise ba pa2 white">
          {{info_text.Explanation|new_tab|richtext}}
        </div>
        {% endwith %}
      {% endif %}

      {% if Error %}
        <div class="bg--lm-light-red ba b--lm-dark-red bw1 br1 dib">
          {{Error}}
        </div>
      {% endif %}

      <form method="post" action="{%if parent != 'home' %}/{{parent}}{% endif %}/{{slug}}/#assessment-container">
        {% for q in Questions %}
        <div class="pv2">
          <div class="pv2">
            <div class="dib">
              {{q.DisplayText|new_tab|richtext}}
            </div>
            {% if q.hasInfo %}
              <button class="lm-bg-dark-turquoise lm-bg-pink-hover pointer b--none white br1 pv0 ph1" name="q_info" value="{{q.QuestionID}}">?</button>
            {% endif %}
            {% if q.Error %}
              <div class="bg--lm-light-red ba b--lm-dark-red bw1 br1 dib pa1">
                {{q.Error}}
              </div>
            {% endif %}
          </div>
          {% if q.Questions|length > 0 %}
          {% include "resources/assessment/question-table.html" with table=q %}
          {% endif %}
          {% for a in q.Answers %}
          <div>
            {% if a.ControlType == "text" %}
            <input type="{{a.ControlType}}" id="{{a.ControlID}}" name="{{a.ControlID}}" value="{{a.ControlValue}}" />
            {% else %}
            <input type="{{a.ControlType}}" id="{{a.ControlID}}" name="{{a.ControlName}}" value="{{a.ControlValue}}" {% if a.isChecked %}checked{% endif %} />
            {% endif %}
            <label for="{{a.ControlID}}">
              {{a.DisplayText}}
            </label>
            {% if a.hasInfo %}
            <button class="lm-bg-dark-turquoise lm-pink-hover pointer b--none white br1 pv0 ph1" name="a_info" value="{{a.AnswerID}}">?</button>
            {% endif %}
            {% if a.Error %}
            <div class="bg--lm-light-red ba b--lm-dark-red bw1 br1 dib pa1">
              {{a.Error}}
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}

        {% if Conclusions %}
        <div class="fw6 f3 mb2"
        {% if Report.MessageLevel == 1 %}style="color: red;"
        {% elif Report.MessageLevel == 3 %}style="color: green;"
        {% endif %}
        >
        {{Report.MessageTitle}}
      </div>
      <div class="copy">
        {{Report.MessageDescription}}
      </div>
      {% include "resources/assessment/bullets.html" with bullets=Report.ContactBullets title=Report.ContactBulletTitle %}
      {% include "resources/assessment/bullets.html" with bullets=Report.DangerBullets title=Report.DangerBulletTitle %}

      {% include "resources/assessment/conclusions.html" with conclusions=Report.ReasonConclusions title=Report.ReasonConclusionTitle %}
      {% include "resources/assessment/bullets.html" with bullets=Report.ReasonBullets title=Report.ReasonBulletTitle %}

      {% include "resources/assessment/conclusions.html" with conclusions=Report.OtherConclusions title=Report.OtherConclusionTitle %}
      {% include "resources/assessment/conclusions.html" with conclusions=Report.InformationConclusions title=Report.InformationConclusionTitle %}
      {% endif %}

      {% csrf_token %}
      <input type="hidden" name="member_id" value="{{member_id}}" />
      <input type="hidden" name="traversal_id" value="{{traversal_id}}" />
      <input type="hidden" name="algo_id" value="{{AlgoID}}" />
      <input type="hidden" name="node_id" value="{{NodeID}}" />
      <div class="pv3 w-100">
        <div class="w-50 tl dib">
          {% if not first_question %}
            <button class="b--none bg-white fw6 lm-pink-hover lm-dark-turquoise pointer ph0" type="submit" name="previous" value="Previous">previous question</button>
          {% endif %}
        </div>
        {% if not Conclusions %}
        <div class="w-49-ns w-40 tr dib">
          {% if first_question %}
            <button class="b--none bg-white fw6 lm-pink-hover lm-dark-turquoise pointer ph0" type="submit" name="next" value="Next">start assessment</button>
          {% else %}
            <button class="b--none bg-white fw6 lm-pink-hover lm-dark-turquoise pointer ph0" type="submit" name="next" value="Next">next question</button>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </form>
  </div>

  <script type="text/javascript">
    function toggleExplanation(id) {
      var explanation = document.getElementById(id);

      if (explanation.style.display === "block") {
        explanation.style.display = "none";
      } else {
        explanation.style.display = "block";
      }
    }
  </script>
  </div>

  {% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links=footer_links %}
{% endblock %}
