{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}gt-body{% endblock %}

{% block content %}


  <section class="f3 pa3 ph4 ph3-m ph3-l tl lh-copy lm-dark-blue segoe feedback-section {% if banner %}mt5{%endif%}">
    <div class="w-60-ns center">
      <a href="/" class="f5 link dib ph3 pv2 br1 pointer nunito tracked inner-shadow-active lm-bg-white lm-bg-dark-turquoise-hover lm-dark-turquoise lm-white-hover ba b--lm-dark-turquoise">< Back</a>
    </div>
  </section>

  <section class="f3 pa3 ph4 ph3-m ph3-l tl lh-copy lm-dark-blue segoe feedback-section">
    <div class="w-60-ns center">
      <h2 class="ma0 f3 segoe-bold">Thank you, your feedback has been received</h2>
    </div>
  </section>
{% endblock %}
