{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static new_tab %}

{% block body_class %}gt-body article{% endblock %}

{% block content %}

    {% if banner %}
      {% include "resources/banner.html" with banner=banner %}
    {% endif %}
    {% image page.hero_image width-1000 as hero_image %}

    <section class="home-slider">
        <div class="gt-header-img article" style="background-image:url('{{ hero_image.url }}')"></div>
        <div class="gt-slider-content rich-text">
            <div class="row gt-header-content">
                <div>
                    <h2>{{page.title}}<br></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="f3 pa3 ph4 ph3-m ph3-l tl lh-copy lm-dark-blue segoe feedback-section {% if banner %}mt5{%endif%}">
      <div class="gt-back-btn">
          <a href="/" class="gt-feedback-back">
              <p class="gt-feeback-back">Back<br></p>
          </a>
      </div>
    </section>

    <form action="{% pageurl page %}" method="POST" class="lm-ls1" id="feedback-form">
      {% csrf_token %}

      {% for row in custom_form %}
        {% if row.field_type == 'radio' %}
          <section class="f3 pa3 ph4 ph3-m ph3-l tl copy lm-dark-blue nunito feedback-form-section">
            <div class="w-60-ns center">
              <div class="gt-feedback-content rich-text">
                {{row.before_input|new_tab|richtext}}
              </div>
              {% if row.errors %}
                {% for error in row.errors %}
                  <div class="alert ma0 mb1 mr1 mt4 pa3 ba bw1-ns bg--lm-light-red b--dark-red relative black mt1 f5"><i class="bg--lm-dark-red white absolute br-100 fa fa-exclamation lm-flash-icon lm-exclamation-icon"></i>{{error}}</div>
                {% endfor %}
              {% endif %}
              <div id="id_{{row.label}}" class="mv2 pv2">
                {% for choice in row.choices %}

                  <!-- <div class="mv1 h18">
                    <input id="id_{{row.label}}_{{forloop.counter0}}" name="{{row.label}}" type="radio" value="{{choice.val}}" {{row.reqired}} class="absolute o-0 lm-feedback-radio" {{choice.checked}}></input>
                    <label for="id_{{row.label}}_{{forloop.counter0}}" class="lm-feedback-label nowrap f6 v-top">{{choice.val}}</label>
                  </div> -->
                  <div><label for="id_{{row.label}}_{{forloop.counter0}}"class="gt-radio-container">{{choice.val}}
                <input type="radio" id="id_{{row.label}}_{{forloop.counter0}}" name="{{row.label}}" value="{{choice.val}}" {{row.reqired}} class="absolute o-0 lm-feedback-radio" {{choice.checked}}>
                <span class="checkmark"></span>
                </label>
              </div>

                {% endfor %}
              </div>
              <div class="around_form_input">
                {{row.after_input|new_tab|richtext}}
              </div>
            </div>
        </section>
        {% else %}
          {% if row.field_type == 'multiline' %}
            <section class="f3 pt3 ph4 ph3-m ph3-l tl copy pb3 segoe feedback-section">
              <div class="w-60-ns center">
                <div class="around_form_input">
                  {{row.before_input|new_tab|richtext}}
                </div>
                {% if row.errors %}
                  {% for error in row.errors %}
                    <div class="alert ma0 mb1 mr1 mt4 pa3 ba bw1-ns bg--lm-light-red b--dark-red relative black mt1 f5"><i class="bg--lm-dark-red white absolute br-100 fa fa-exclamation lm-flash-icon lm-exclamation-icon"></i>{{error}}</div>
                  {% endfor %}
                {% endif %}
                <label for="id_{{row.label}}" class="dn"></label>
                <textarea id="id_{{row.label}}" name="{{row.label}}" class="h4 f5 w-100 pa3 nr b--lm-grey no-defaults" {{required}}>{{row.submitted_val}}</textarea>
                <div class="around_form_input">
                  {{row.after_input|new_tab|richtext}}
                </div>
              </div>
            </section>
          {% else %}
            {% if row.field_type == 'email' and forloop.last %}
              <section class="f3 pa3 ph4 ph3-m ph3-l tl copy segoe feedback-section">
                <div id="alphasection" class="w-60-ns nunito center f5">
                  <div class="around_form_input">
                    {{row.before_input|new_tab|richtext}}
                  </div>
                  {% if row.errors %}
                    {% for error in row.errors %}
                      <div class="alert ma0 mb1 mr1 mt4 pa3 ba bw1-ns bg--lm-light-red b--dark-red relative black mt1 f5"><i class="bg--lm-dark-red white absolute br-100 fa fa-exclamation lm-flash-icon lm-exclamation-icon"></i>{{error}}</div>
                    {% endfor %}
                  {% endif %}
                  <label for="id_{{row.label}}">Email: </label>
                  <input id="id_{{row.label}}" name="{{row.label}}" type="email" {{required}}>{{row.submitted_val}}</input>
                </div>
              </section>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="f3 pa3 ph4 ph3-m ph3-l tl copy lm-dark-blue nunito feedback-form-section">
        <div class="w-60-ns center">
          <div class="w-100 tl mt3">
            {% include "resources/primary-button.html" with value="Submit" %}
          </div>
        </div>
      </div>
    </form>

        <!-- <section class="home-slider">
            <div class="gt-header-img article"></div>
            <div class="gt-slider-content rich-text">
                <div class="row gt-header-content">
                    <div>
                        <h2>Give us feedback<br></h2>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gt-feedback-container">
                <div class="gt-back-btn">
                    <a href="stress-q.html" class="gt-feedback-back">
                        <p class="gt-feeback-back">Back<br></p>
                    </a>
                </div>
                <div class="gt-feedback-content rich-text"><a href="#"><strong>King's College London - Evaluation</strong><br></a>
                    <h3>What is "Beta"? </h3>
                    <p>This new service is currently in Beta – this is a live testing phase, and your feedback will help it to improve.&nbsp;<br></p>
                    <h3>Evaluation of the service</h3>
                    <p>This new service is currently in Beta – this is a live testing phase, and your feedback will help it to improve.&nbsp;<br></p>
                    <a href="#">Find out how you can get involved.</a>
                    <h3>Give some immediate feedback<br></h3>
                    <p>Overall, how did you feel about the service you received today?<br></p>

                    <div><label class="gt-radio-container">Very satisfied
      <input type="radio"  name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="gt-radio-container">Satisfied
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="gt-radio-container">Neither satisfied nor dissatisfied
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="gt-radio-container">Dissatisfied
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="gt-radio-container">Very dissatisfied
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label></div>

                    <div class="gt-feedback-service">
                        <h3>How could we improve this service?<br></h3>
                        <p><br>For example, what do you think about:<br>- The look of service<br>- Content you found<br>- How it works<br></p><textarea class="gt-feedbaack-textarea">
                        </textarea></div>
                    <div>
                        <p>(Limit is 1200 characters)<br>Please do not share any personally identifiable information on this website. This is any information that would allow someone to identify who you are, where you might be, or how they could contact you.<br><br>If
                            you have a question about any of the content on this site, please email us at info@good-thinking.uk<br>
                            If you have any questions about the website design and functionality, please email us at goodthinking@mindwaveventures.com <br></p>
                    </div>
                </div>
            </div>
        </section> -->


  {% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links=footer_links %}
{% endblock %}
