{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static new_tab %}

{% block body_class %}gt-body article{% endblock %}

{% block content %}

{% if banner %}
  {% include "resources/banner.html" with banner=banner %}
{% endif %}

<!-- hero image block  -->
{% image page.hero_image width-1000 as hero_image %}
<section class="home-slider">
    <div class="gt-header-img article" style="background-image:url('{{ hero_image.url }}')"></div>
    <div class="gt-slider-content rich-text">
        <div class="row gt-header-content">
            <div>
                <h2>{{page.title}}<br></h2>
            </div>
        </div>
    </div>
</section>

<!-- form field block  -->
<section>
    <div class="gt-feedback-container">
        <div class="gt-back-btn">
            <a href="/" class="gt-feedback-back">
                <p class="gt-feeback-back">Back<br></p>
            </a>
        </div>
        <form class="gt-feedback-content rich-text" action="{% pageurl page %}" method="POST" id="feedback-form">
          {% csrf_token %}
          {% for row in custom_form %}
            {% if row.field_type == 'radio' %}
            <div>
                <div>{{row.before_input|new_tab|richtext}}</div>
                <div>
                  {% for choice in row.choices %}
                    <label class="gt-radio-container" for="id_{{row.label}}_{{forloop.counter0}}">{{choice.val}}<input id="id_{{row.label}}_{{forloop.counter0}}" name="{{row.label}}" type="radio" value="{{choice.val}}" {{row.reqired}}  {{choice.checked}}>
                    <span class="checkmark"></span></label>
                  {% endfor %}
                </div>
                <div>
                    {{row.after_input|new_tab|richtext}}
                </div>
            </div>
            {% else %}
            {% if row.field_type == 'multiline' %}
            <div>
                <div class="gt-feedback-service">
                    {{row.before_input|new_tab|richtext}}
                </div>
                <div>
                  <label for="id_{{row.label}}"></label>
                  <textarea id="id_{{row.label}}" name="{{row.label}}" class="form-control gt-feedbaack-textarea" {{required}}>{{row.submitted_val}}</textarea></div>
                <div>
                  {{row.after_input|new_tab|richtext}}
                </div>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
    {% include "resources/primary-button.html" with value="Submit" %}</form>
    </div>
</section>

{% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links=footer_links %}
{% endblock %}
