{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static new_tab %}

{% block body_class %}template-feedbackpage{% endblock %}

{% block content %}

    {% if banner %}
      {% include "resources/banner.html" with banner=banner %}
    {% endif %}

    {% include "resources/components/hamburger-menu.html" with page=page landing_pages=landing_pages %}

    <section class="f3 pa3 ph4 ph3-m ph3-l tl lh-copy lm-dark-blue segoe feedback-section {% if banner %}mt5{%endif%}">
      <div class="w-60-ns center">
        <a href="/" class="f5 link dib ph3 pv2 br1 pointer nunito tracked inner-shadow-active lm-bg-white lm-bg-dark-turquoise-hover lm-dark-turquoise lm-white-hover ba b--lm-dark-turquoise">< Back</a>
      </div>
    </section>

    <form action="{% pageurl page %}" method="POST" class="lm-ls1" id="feedback-form">
      {% csrf_token %}

      {% for row in custom_form %}
        {% if row.field_type == 'radio' %}
          <section class="f3 pa3 ph4 ph3-m ph3-l tl copy lm-dark-blue nunito feedback-form-section">
            <div class="w-60-ns center">
              <div class="around_form_input">
                {{row.before_input|new_tab|richtext}}
              </div>
              {% if row.errors %}
                {% for error in row.errors %}
                  <div class="alert ma0 mb1 mr1 mt4 pa3 ba bw1-ns bg--lm-light-red b--dark-red relative black mt1 f5"><i class="bg--lm-dark-red white absolute br-100 fa fa-exclamation lm-flash-icon lm-exclamation-icon"></i>{{error}}</div>
                {% endfor %}
              {% endif %}
              <div id="id_{{row.label}}" class="mv2 pv2">
                {% for choice in row.choices %}
                  <div class="mv1 h18">
                    <input id="id_{{row.label}}_{{forloop.counter0}}" name="{{row.label}}" type="radio" value="{{choice.val}}" {{row.reqired}} class="absolute o-0 lm-feedback-radio" {{choice.checked}}></input>
                    <label for="id_{{row.label}}_{{forloop.counter0}}" class="lm-feedback-label word-wrap f6 v-top">{{choice.val}}</label>
                  </div>
                {% endfor %}
              </div>
              <div class="around_form_input">
                {{row.after_input|new_tab|richtext}}
              </div>
            </div>
        </section>
        {% else %}
          {% if row.field_type == 'multiline' %}
            <section class="f3 pt3 ph4 ph3-m ph3-l tl copy pb3 segoe feedback-section">
              <div class="w-60-ns center">
                <div class="around_form_input">
                  {{row.before_input|new_tab|richtext}}
                </div>
                {% if row.errors %}
                  {% for error in row.errors %}
                    <div class="alert ma0 mb1 mr1 mt4 pa3 ba bw1-ns bg--lm-light-red b--dark-red relative black mt1 f5"><i class="bg--lm-dark-red white absolute br-100 fa fa-exclamation lm-flash-icon lm-exclamation-icon"></i>{{error}}</div>
                  {% endfor %}
                {% endif %}
                <label for="id_{{row.label}}" class="dn"></label>
                <textarea id="id_{{row.label}}" name="{{row.label}}" class="h4 f5 w-100 pa3 nr b--lm-grey" {{required}}>{{row.submitted_val}}</textarea>
                <div class="around_form_input">
                  {{row.after_input|new_tab|richtext}}
                </div>
              </div>
            </section>
          {% else %}
            {% if row.field_type == 'email' and forloop.last %}
              <section class="f3 pa3 ph4 ph3-m ph3-l tl copy segoe feedback-section">
                <div id="alphasection" class="w-60-ns nunito center f5">
                  <div class="around_form_input">
                    {{row.before_input|new_tab|richtext}}
                  </div>
                  {% if row.errors %}
                    {% for error in row.errors %}
                      <div class="alert ma0 mb1 mr1 mt4 pa3 ba bw1-ns bg--lm-light-red b--dark-red relative black mt1 f5"><i class="bg--lm-dark-red white absolute br-100 fa fa-exclamation lm-flash-icon lm-exclamation-icon"></i>{{error}}</div>
                    {% endfor %}
                  {% endif %}
                  <label for="id_{{row.label}}">Email: </label>
                  <input id="id_{{row.label}}" name="{{row.label}}" type="email" {{required}}>{{row.submitted_val}}</input>
                </div>
              </section>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="f3 pa3 ph4 ph3-m ph3-l tl copy lm-dark-blue nunito feedback-form-section">
        <div class="w-60-ns center">
          <div class="w-100 tl mt3">
            {% include "resources/primary-button.html" with value="Submit" %}
          </div>
        </div>
      </div>
    </form>

  {% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links=footer_links %}
{% endblock %}
