.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
  border-bottom:1px solid #f2f2f2;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

@media (min-width: 1200px) {
  .gt-panel-small {
    margin-bottom:0px !important;
    display:none;
  }
}

@media (max-width: 1199px) {
  .gt-panel-small {
    margin-bottom:0px !important;
    display:block !important;
  }
}

@media (max-width: 767px) {
  .gt-img-block {
    height:220px;
    position:relative;
    float:none !important;
  }
}

@media (max-width: 991px) {
  .gt-img-block {
    height:220px;
    position:relative;
    float:right;
  }
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.panel-default > .panel-heading {
  background-color:#242e51;
  border-bottom:none;
}

.panel-body.gt-highlights-stress-boby {
  background-color:#242e51;
  color:#fff;
  text-align:left;
}

.gt-stress-para {
  font-size:21px;
  padding-left:20px;
  margin:0px;
  /*float:left;*/
}

.gt-stress-list {
  padding:5px;
}

.gt-highlights-stress-list {
  margin-top:20px;
  margin-bottom:20px;
}

.gt-highlights-stress-para {
  text-align:left;
  color:#fff;
  padding-left:20px;
}

