@media (max-width: 767px) {
  .gt-home-topic-highlights {
    text-align:center;
    margin:10px;
  }
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
  border-bottom:1px solid #f2f2f2;
}

.panel.panel-default.gt-highlights {
  margin-top:15px;
  margin-bottom:15px;
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.22);
  /*min-height:450px;*/
  /*max-height:450px;*/
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.gt-white {
  background-color:#fff !important;
}

.gt-light-green {
  background-color:#89ddb3 !important;
}

@media (max-width: 767px) {
  .panel.panel-default.gt-highlights {
    min-height:500px;
    max-height:500px;
  }
}

.col-md-12.gt-consideration {
  font-size:14px;
  color:#16b28f;
  text-decoration:none;
  text-align:left;
  font-weight:bold;
  display:none;
}

@media (max-width: 767px) {
  .col-md-12.gt-consideration {
    display:block;
  }
}

@media (max-width: 767px) {
  .col-md-6.col-sm-6.text-left.gt-highlights-hide {
    display:none;
  }
}

.h4, h4 {
  font-weight:bold;
}

.gt-body {
  background-color:transparent;
  font-family:'Nunito Sans', sans-serif;
  background-color:#f2f2f2;
  color:#242e50;
}

