.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.panel-body p {
  font-family:'Nunito Sans', sans-serif;
  font-size:14px;
  line-height:1.5;
  letter-spacing:1.2px;
  text-align:center;
}

.bg-panel-section-header {
  background-color:#16b28f!important;
}

.panel-title {
  font-size:20px;
  font-family:Montserrat, sans-serif;
  font-weight:600;
  line-height:1.05;
  letter-spacing:1px;
  text-align:center;
  color:white;
}

.bg-panel-section-header {
  background-color:#16b28f!important;
}

.bg-panel-section-header {
  background-color:#16b28f !important;
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

@media (max-width: 767px) {
  .gt-home-topic-highlights {
    text-align:center;
    margin:10px;
  }
}

.bg-panel-section-header {
  background-color:#16b28f!important;
}

.panel-title {
  font-size:20px;
  font-family:Montserrat, sans-serif;
  font-weight:600;
  line-height:1.05;
  letter-spacing:1px;
  text-align:center;
  color:white;
  padding:10px 0px;
}

@media (max-width: 1199px) {
  .panel-title {
    font-size:16px;
    font-family:Montserrat, sans-serif;
  }
}

.bg-panel-section-header {
  background-color:#16b28f!important;
}

.bg-panel-section-header {
  background-color:#16b28f !important;
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

@media (max-width: 991px) {
  .h1, .h2, .h3, h1, h2, h3 {
    margin-top:10px;
    margin-bottom:10px;
  }
}

.bg-panel-section-header {
  background-color:#16b28f!important;
}

.bg-panel-section-header {
  background-color:#16b28f!important;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.bg-panel-section-header {
  background-color:#16b28f!important;
}

.bg-panel-section-header {
  background-color:#16b28f!important;
}

.bg-panel-section-header {
  background-color:#16b28f !important;
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.gt-header {
  font-family:Montserrat, sans-serif;
  font-size:32px;
  font-weight:bold;
}

@media (max-width: 991px) {
  .gt-header {
    font-family:Montserrat, sans-serif;
    font-size:22px;
    font-weight:bold;
  }
}

@media (max-width: 767px) {
  .gt-header {
    font-family:Montserrat, sans-serif;
    font-size:18px;
    font-weight:bold;
  }
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

@media (max-width: 991px) {
  .h1, .h2, .h3, h1, h2, h3 {
    margin-top:10px;
    margin-bottom:10px;
  }
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.panel-default > .panel-heading {
  background-color:#f3a140;
  border:none;
  background-image:none;
  /*line-height:1.57;*/
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.panel-default > .panel-heading {
  background-color:#ce3981;
  text-align:center;
}

