{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static new_tab %}

{% block body_class %}gt-body article{% endblock %}

{% block content %}

{% include "resources/banner.html" %}

<!-- Hero image block for static pages -->
{% image page.cover_image width-1000 as cover_image %}
<section class="home-slider">
  {% if cover_image %}
    <div class="gt-header-img article" style="background-image:url('{{ cover_image.url }}')"></div>
  {% else %}
    <div class="gt-header-img article" style="background-image:url({%static 'images/gt-articals-cover-img.jpg'%})"></div>
  {% endif %}
    <div class="gt-slider-content rich-text">
        <div class="row gt-header-content">
            <div>
                <h2>{{page.title}}<br></h2>
            </div>
        </div>
    </div>
</section>

<!-- Streamfield block for static pages -->
<section class="gt-article-topic">
    <div>
        <div class="row">
          {% for block in page.body %}
            {% if block.block_type == 'column_left' %}
              <div class="col-md-6 gt-para-lt">
                <div class="gt-partner-text-block rich-text">
                {% include_block block %}
              </div>
              </div>
            {% else %}
                {% if block.block_type == 'column_right' %}
              <div class="col-md-6 gt-para-rt">
                <div class="gt-partner-text-block rich-text">
                {% include_block block %}
              </div>
              </div>
            {% else %}
                <div class="col-md-12">
                  <div class="gt-read rich-text">
                  {% include_block block %}
                </div>
                </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>
    </div>
</section>

{% include "resources/components/footer.html" with footer_blocks=footer_blocks footer_links='' %}
{% endblock %}
